<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="https://cdn-icons-png.flaticon.com/512/30/30946.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        Gstory
      </a>
    </div>
  </nav>
<H1> Bienvenido, Registrate para una mejor Experiencia</H1>
<div class="custom-form-principal">

    <button class="btn btn-light" type="submit" (click)="login()">Iniciar Sesion</button>

    <button class="btn btn-light" type="submit"(click)="register()">Registrarse</button>

</div>
